@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}


/* navigation bar, logo and navigation links */

#mindscape-home-nav{
    background-color: #00B500;
    display: flex;
    justify-content: space-between;
    height: 12vh;
    width: auto;
}

.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;

}

.logo > img{
    height: 5rem;
    width: 5rem;
    margin-left: 2.8rem;
    margin-top: 0.8rem;
    object-fit: cover;
}

.logo-text{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

#mindscape-navigation-links{
    margin-left: 32.6rem;
    margin-top: 1rem;
}

#nav-links li{
    font-family: 'Lato', sans-serif;
    font-size: 14.2px;
    float: left;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin: 1rem;
}

#nav-links li a{
    color: #000000;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s ease;

}

#nav-links li a:hover{
    color: #FFB347;
}


/* home image */

.mindscape-home-image{
    height: 780px;
    width: auto;
    background: url(../images/mindscape-home-image.png) no-repeat center center;
    margin-top: -6.6rem;
}

/* home welcoming text */

#home-welcoming-text{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 35px;
    margin-top: -5rem;
    text-align: center;
    padding: 10px;
}

/* about us section */

#about-us{
    display: flex;
    margin-top: 2rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#about-us-bg{
    background-color: #87ceeb;
    width: 80%;
    height: 100%;
    box-shadow: 0 0 2rem #FFB347;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-us-logo{
    height: 150px;
    width: 150px;
    background: url(../images/about-us-icon.png) no-repeat center;
}

#about-us-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-decoration: underline;
}

.about-us-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin: 20px;
    width: 90%;
    line-height: 2rem;
}

/* symptoms section */

#symptoms{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

#symptoms-bg{
    background-color: #87ceeb;
    width: 100%;
    height: 10rem;
    margin-top: 12rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
    display: flex;
    justify-content: center;
    align-items: center;
}

.symptoms-logo{
    height: 150px;
    width: 150px;
    background: url(../images/symptoms-icon.png) no-repeat center;
}

#symptoms-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

#symptoms-information {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 2rem;
    justify-content: center;
    padding: 20px;
}

.symptoms-wrapper{
    line-height: 2.5;
    padding: 20px;
    background: #eee;
}

.symptoms-wrapper > h3 {
    font-size: 25px;
}

.symptoms-wrapper > ul{
    font-size: 18px;
    list-style: none;
}

/* common conditions section */


#common-conditions-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    margin-top: -6rem;
    margin-left: 44rem;
}

#common-conditions-bg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87ceeb;
    width: 100%;
    height: 10rem;
    margin-top: 12rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
}

.common-conditions-wrapper{
    line-height: 2.5;
    padding: 20px;
    background: #eee;

}

.common-conditions-wrapper > h3{
    font-size: 25px;
}

.common-conditions-wrapper > ul{
    font-size: 18px;
    list-style-type: none;
}

.common-conditions-logo{
    height: 150px;
    width: 150px;
    background: url(../images/common-conditions-icon.png) no-repeat no-repeat;
    position: absolute;
    margin-top: -9.4rem;
    margin-left: 34.8rem;
}

#common-conditions-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-top: 2rem;
    line-height: 2;
    padding: 20px;
  }


/* seeking help and treatments section */

#seeking-help-treatment-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: -6rem;
    margin-left: 44rem;
}

#seeking-help-treatment-bg{
    background-color: #87ceeb;
    width: 100%;
    height: 10rem;
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
}

.seeking-help-treatment-logo{
    height: 150px;
    width: 150px;
    background: url(../images/seeking-help-treatment-icon.png) no-repeat no-repeat;
    margin-top: -9.4rem;
    margin-left: 34.8rem;
    position: absolute;
}

#seeking-help-treatment-information{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seeking-help-treatment-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    line-height: 2;
    gap: 20px;
    padding: 20px;
}

.seeking-help-treatment-container ul {
    list-style-type: none;
}

.seeking-help-treatment-wrapper{
    background: #eee;
    padding: 20px;
    border-radius: 5px;
}

#welcome-seeking-help-treatment{
    font-size: 18px;
    width: 100%;
    line-height: 2;
    padding: 20px;
    font-weight: 600;
    margin-left: 2.5rem;
}

span{
    font-weight: bold;
}

/* resources and support section */

#resources-support-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: -6rem;
    margin-left: 44rem;
    position: absolute;
}

#resources-support-bg{
    background-color: #87ceeb;
    width: 100%;
    height: 10rem;
    margin-top: 5rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resources-support-logo{
    height: 150px;
    width: 150px;
    background: url(../images/resources-support-icon.png) no-repeat no-repeat;
    position: absolute;
    margin-top: -9.6rem;
    margin-left: 32rem;
}

#welcome-resources-support{
    font-size: 18px;
    width: 96%;
    margin-top: 5rem;
    padding: 2rem;
    font-weight: 600;
    line-height: 2;
}

#individual-resources-support-information{
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    gap: 20px;
    padding: 20px;
}

.resources-support-wrapper{
    background: #eee;
    padding: 20px;
    line-height: 2.5;
    border-radius: 5px;
}

.resources-support-wrapper ul{
    list-style-type: none;
}

/* contact us section */

#contact-us-heading{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    margin-top: -6rem;
    margin-left: 44rem;
}

#contact-us-bg{
    background-color: #87ceeb;
    width: 100%;
    height: 10rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.contact-us-logo{
    height: 150px;
    width: 150px;
    background: url(../images/contact-us-icon.png) no-repeat no-repeat;
    position: absolute;
    margin-top: -8.6rem;
    margin-left: 32rem;
}

#contact-us-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

#contact-us-form label {
    margin-bottom: 0.5rem;
    line-height: 3rem;
    font-weight: 600;
}

#contact-us-form input {
    width: 50%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
    outline: 0;
    border: 1px solid #00B500;
    height: 40px;
    font-size: 20px;
}

#subject{
    padding: 3rem;
}

#message {
    width: 50%;
    padding: 3rem;
    resize: none;
    border-radius: 20px;
    border: 2px solid #00B500;
    font-size: 20px;
}

#contact-us-form input[type="submit"] {
  margin-top: 2.4rem;
  color: #fff;
  cursor: pointer;
  transition: 0.6s ease;
}

#contact-us-form input[type='submit']:hover {
    color: #FFB347;
}

#submit-message{
    background-color: #00B500;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

footer {
    background-color: #00B500;
    width: 100%;
    padding: 4.6rem;
    height: 30vh;
}


