@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    width: auto;
    box-sizing: border-box;
}


/* navigation bar, logo and navigation links */

#mindscape-home-nav{
    background-color: #00B500;
    display: flex;
    justify-content: space-between;
    height: 12vh;
    width: auto;
}

.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    display: flex;

}

.logo > img{
    height: 5rem;
    width: 5rem;
    margin-left: 2.8rem;
    margin-top: 0.8rem;
    object-fit: cover;
}

.logo-text{
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

#mindscape-navigation-links{
    margin-left: 32.6rem;
    margin-top: 1rem;
}

#nav-links li{
    font-family: 'Lato', sans-serif;
    font-size: 14.2px;
    float: left;
    display: flex;
    list-style: none;
    text-transform: uppercase;
    margin: 0.2rem 0.2rem 1.5rem 1.8rem;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    margin-left: 1.2rem;
}

#nav-links li a{
    color: #000000;
    font-weight: bold;
}

#nav-links li a:hover{
    color: #FFB347;
}


/* home image */

.mindscape-home-image{
    height: 780px;
    width: auto;
    background: url(../images/mindscape-home-image.png) no-repeat center center;
    margin-top: -4.6rem;
}

/* home welcoming text */

#home-welcoming-text{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 44px;
    margin-top: -4rem;
    margin-left: 20rem;
}

/* about us section */

#about-us{
    position: relative;
    margin: 0 auto;
    height: 580px;
    width: auto;
}

#about-us-bg{
    background-color: #87ceeb;
    width: 80%;
    height: 100%;
    box-shadow: 0 0 2rem #FFB347;
    margin-left: 10rem;
}

.about-us-logo{
    height: 150px;
    width: 150px;
    background: url(../images/about-us-icon.png) no-repeat no-repeat;
    margin-top: 10rem;
    margin-left: 24rem;
}

#about-us-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: -6rem;
    margin-left: 35rem;
}

.about-us-info{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    margin-left: 16rem;
    width: 70%;
}

/* symptoms section */

#symptoms{
    width: auto;
    padding-bottom: 20rem;
}

#symptoms-bg{
    background-color: #87ceeb;
    width: 75%;
    height: 10rem;
    margin-top: 12rem;
    margin-left: 12rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
}

.symptoms-logo{
    height: 150px;
    width: 150px;
    background: url(../images/symptoms-icon.png) no-repeat no-repeat;
    margin-top: 1.4rem;
    margin-left: 24.5rem;
    position: absolute;
}

#symptoms-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: 4rem;
    margin-left: 35.2rem;
    position: absolute;
}

#symptoms-information {
    width: auto;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin-left: 2rem;
    margin-top: 6rem;
    line-height: 2rem;
    box-sizing: border-box;
  }

#symptoms-behavioural{
    margin-left: 6em;
}

#behaviours-symptoms{
    position: absolute;
    margin-top: 4rem;
    margin-left: 8rem;
}

#symptoms-cognitive{
    margin-left: 2.8rem;
}

#cognitive-symptoms{
    position: absolute;
    margin-top: 4rem;
    margin-left: 34rem;
}

#emotional-symptoms{
    position: absolute;
    margin-top: 4rem;
    margin-left: 64.6rem;
}

#symptoms-emotional{
    margin-left: 2em;
}

#symptoms-physical{
    margin-top: 10.5rem;
    margin-left: 10rem;
}

#physical-symptoms{
    position: absolute;
    margin-top: 30rem;
    margin-left: 10rem;
}

#social-symptoms{
    position: absolute;
    margin-top: 30rem;
    margin-left: 52rem;
}

#symptoms-social{
    margin-top: 10.5rem;
    margin-left: 21rem;
}


/* common conditions section */

#common-conditions{
    width: auto;
    padding-bottom: 20rem;
}

#common-conditions-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: -6rem;
    margin-left: 44rem;
    position: absolute;
}

#common-conditions-bg{
    background-color: #87ceeb;
    width: 75%;
    height: 10rem;
    margin-top: 12rem;
    margin-left: 12rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
}

.common-conditions-logo{
    height: 150px;
    width: 150px;
    background: url(../images/common-conditions-icon.png) no-repeat no-repeat;
    margin-top: -9.4rem;
    margin-left: 34.8rem;
    position: absolute;
}

#common-conditions-information {
    width: auto;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    margin-left: 2rem;
    margin-top: 6rem;
    line-height: 2rem;
    box-sizing: border-box;
  }

#anxiety-disorders{
    margin-left: 15rem;
}

#anxiety-disorders-conditions{
    position: absolute;
    margin-top: 3.6rem;
    margin-left: 15rem;
}

#mood-disorders{
    position: absolute;
    margin-left: 60rem;
}

#mood-disorders-conditions{
    position: absolute;
    margin-left: 60rem;
    margin-top: 3.6rem;
  }

#eating-disorders{
    position: absolute;
    margin-top: 15.2rem;
    margin-left: 15rem;
}  

#eating-disorders-conditions{
    position: absolute;
    margin-top: 19.4rem;
    margin-left: 15rem;
}

#trauma-stress-disorders{
    position: absolute;
    margin-top: 15.2rem;
    margin-left: 60rem;
}

#trauma-stress-disorders-conditions{
    position: absolute;
    margin-top: 19.4rem;
    margin-left: 60rem;
  }


/* seeking help and treatments section */

#seeking-help-treatment{
    width: auto;
    padding-bottom: 20rem;
}

#seeking-help-treatment-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: -6rem;
    margin-left: 44rem;
    position: absolute;
}

#seeking-help-treatment-bg{
    background-color: #87ceeb;
    width: 75%;
    height: 10rem;
    margin-top: -6rem;
    margin-left: 12rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
}

.seeking-help-treatment-logo{
    height: 150px;
    width: 150px;
    background: url(../images/seeking-help-treatment-icon.png) no-repeat no-repeat;
    margin-top: -9.4rem;
    margin-left: 34.8rem;
    position: absolute;
}

#seeking-help-treatment-information{
    width: auto;
    height: 500px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    margin-top: 28rem;
    margin-left: 2rem;
    box-sizing: border-box;
}

#welcome-seeking-help-treatment{
    font-size: 16.8px;
    width: 75%;
    margin-top: -21rem;
    margin-left: 10.2rem;
    line-height: 2.8rem;
    position: absolute;
}

#hotline-crisis-treatment-resources{
    position: absolute;
    margin-left: 5rem;
}

#therapy-counselling-treatment{
    position: absolute;
    margin-left: 34rem;
}

#medication-treatment{
    position: absolute;
    margin-left: 60rem;
}

#support-groups-treatment{
    position: absolute;
    margin-top: 90rem;
    margin-left: 6rem;
}

#self-care-treatment{
    position: absolute;
    margin-top: 90rem;
    margin-left: 50rem;
}

/* individual help and treatments content */

#hotline-crisis-help-treatment{
    width: 20%;
    position: absolute;
    margin-top: 4rem;
    margin-left: 5rem;
    line-height: 40px;
}

#therapy-counselling-help-treatment{
    width: 20%;
    position: absolute;
    margin-top: 4rem;
    margin-left: 34rem;
    line-height: 40px;
}

#medication-help-treatment{
    width: 20%;
    position: absolute;
    margin-top: 4rem;
    margin-left: 60rem;
    line-height: 34px;
}

#support-groups-help-treatment{
    width: 25%;
    position: absolute;
    margin-top: 96rem;
    margin-left: 6rem;
    line-height: 40px;
}

#self-care-help-treatment{
    width: 25%;
    position: absolute;
    margin-top: 96rem;
    margin-left: 50rem;
    line-height: 40px;
}

span{
    font-weight: bold;
}

/* resources and support section */

#resources-support{
    width: auto;
    padding-bottom: 20rem;
}

#resources-support-heading{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-top: -6rem;
    margin-left: 44rem;
    position: absolute;
}

#resources-support-bg{
    background-color: #87ceeb;
    width: 75%;
    height: 10rem;
    margin-top: 110rem;
    margin-left: 12rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
}

.resources-support-logo{
    height: 150px;
    width: 150px;
    background: url(../images/resources-support-icon.png) no-repeat no-repeat;
    position: absolute;
    margin-top: -9.6rem;
    margin-left: 32rem;
}

#welcome-resources-support{
    font-size: 16.8px;
    width: 75%;
    position: absolute;
    margin-top: 8rem;
    margin-left: 12.4rem;
    line-height: 2.8rem;
}

#individual-resources-support-information{
    width: auto;
    height: 1000px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 2px;
    position: absolute;
    margin-top: 28rem;
    margin-left: 2rem;
    box-sizing: border-box;
}

#crisis-hotlines-resources-support{
    margin-left: 5rem;
}

#books-reading-resources-support{
    width: 100%;
    position: absolute;
    margin-left: 64rem;
}

#app-tools-resources-support{
    width: 100%;
    position: absolute;
    margin-left: 36rem;
}

#support-groups-resources-support{
    position: absolute;
    margin-top: 55rem;
    margin-left: 6rem;
}

#online-resources-support{
    width: 100%;
    position: absolute;
    margin-top: 55rem;
    margin-left: 48rem;
}

#crisis-hotlines-resources{
    width: 65%;
    position: absolute;
    margin-top: 4rem;
    margin-left: 5rem;
    line-height: 40px;
}

#app-tools-resources{
    width: 60%;
    position: absolute;
    margin-top: 4rem;
    margin-left: 36rem;
    line-height: 40px;
}

#books-reading-resources{
    width: 60%;
    position: absolute;
    margin-top: 4rem;
    margin-left: 64rem;
    line-height: 40px;
}

#support-groups-resources{
    width: 95%;
    position: absolute;
    margin-top: 60rem;
    margin-left: 6rem;
    line-height: 40px;
}

#online-resources{
    width: 96%;
    position: absolute;
    margin-top: 60rem;
    margin-left: 48rem;
    line-height: 40px;
}

/* contact us section */

#contact-us-heading{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    margin-top: 164rem;
    margin-left: 44rem;
}

#contact-us-bg{
    background-color: #87ceeb;
    width: 75%;
    height: 10rem;
    position: absolute;
    margin-top: 160rem;
    margin-left: 12rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 2rem #FFB347;
}

.contact-us-logo{
    height: 150px;
    width: 150px;
    background: url(../images/contact-us-icon.png) no-repeat no-repeat;
    position: absolute;
    margin-top: 161.5rem;
    margin-left: 32rem;
}

#contact-us-form{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 174rem;
    margin-left: 44rem;
}

#contact-us-form label {
  margin-bottom: 0.5rem;
  line-height: 3.5rem;
}

#contact-us-form input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

#subject{
    padding: 6rem;
}

#message {
    width: 72%;
    padding: 3.2em;
}

#contact-us-form input[type="submit"] {
  width: auto;
  padding: 0.5rem 1rem;
  margin-top: 2.4rem;
}

#submit-message{
    background-color: #00B500;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
}

#submit-message:hover{
    color: #FFB347;
}

footer {
  background-color: #00B500;
  width: 100%;
  padding: 4.6rem;
  position: absolute;
  margin-top: 230rem;
}



